:root {
  --background-color: #ffffff;
  --background-color-hero: #2f303a;
  --title-text-color: #212121;
  --primary-text-color: #000000;
  --accent: #2196f3;
  --secondary-text-color: #757575;
  --adress-color: #d9d9d9;
  --hover-color: #188ce8;
  --background: #f5f4fa;
}

body {
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: var(--background-color);
}

.logo {
  color: var(--secondary-text-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.colorstudio {
  color: var(--primary-text-color);
}
.colorstudio-adress {
  color: var(--background-color);
}
.nav-list {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav {
  color: var(--title-text-color);
  text-decoration: none;
}
.nav-studio {
  color: var(--accent);
  text-decoration: none;
}

.nav-studio:hover,
.nav-studio:focus {
  color: var(--hover-color);
}

.link-current {
  color: var(--accent);
}

.mail {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.mail:hover,
.mail:focus {
  color: var(--accent);
}
.contacts-list {
  list-style: none;
}

.number {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.number:hover,
.number:focus {
  color: var(--accent);
}

/* hero */
.hero {
  background-color: var(--background-color-hero);
}
.hero-title {
  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.btn-style {
  background: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--background-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.btn-style:hover,
.btn-style:focus {
  background: var(--hover-color);
}

/*benefits*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.sections-title {
  color: var(--title-text-color);
}
.benefits-list {
  list-style: none;
}
.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.benefits-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features-list {
  list-style: none;
}
.features-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.sections-team {
  background-color: var(--background);
}
.team-list {
  list-style: none;
}

.team-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-position {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-items {
  background-color: var(--background-color);
}
footer {
  background-color: var(--background-color-hero);
}

.logo-adress {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent);
  text-decoration: none;
}
.colorstudio-adress {
  color: var(--background-color);
}
.adress-list {
  list-style: none;
  font-style: normal;
}
.adress-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color);
  text-decoration: none;
}
.adress-mail {
  color: var(--adress-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.adress-number {
  color: var(--adress-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.adress-mail:hover,
.adress-mail:focus {
  color: var(--accent);
}
.adress-number:hover,
.adress-mail:focus {
  color: var(--accent);
}

/*--ПОРТФОЛІО*/

.nav-portfolio {
  color: var(--accent);
  text-decoration: none;
}

.nav-portfolio:hover,
.nav-portfolio:focus {
  color: var(--hover-color);
}

.filter-list {
  list-style: none;
}
.filter-btn {
  background-color: var(--background);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent);
  color: var(--background-color);
}
.filter-btn.active {
  background-color: var(--accent);
  color: var(--background-color);
}

.galery-link {
  text-decoration: none;
}

.galery-item {
  list-style: none;
}

.galery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  text-decoration: none;
}

.galery-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-decoration: none;
}
